<div id="search-component">
  <h4>Hero Search</h4>
  <input #searchBox id="search-box" mdbInputDirective type="text" (keyup)="search(searchBox.value)" class="form-control">
  <table class="table table-bordered table-hover table-sm">
    <!--<thead class="red accent-4 white-text">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </thead>-->
    <tr *ngFor="let hero of heroes$ | async">
      <td routerLink="/detail/{{hero.id}}">{{hero.id}}</td>
      <td routerLink="/detail/{{hero.id}}">{{hero.name}}</td>
      <td>
      </td>
    </tr>
  </table>
</div>